/* @import "frappe.css"; */
/* @import "macchiato.css"; */
@import "mocha.css";

* {
    /* reference the color by using @color-name */
    /* background: @base; */
    background: rgba(1, 1, 1, 0.3);
    border-radius: 15px;
    border: none;
    color: @text;
    font-family: "Hack Nerd Font";
    font-size: 14.7px;
    min-height: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#cpu {
    background: @crust;
    border-radius: 15px 0px 0px 15px;
    color: @text;
    margin: 3px 0px 3px 0px;
    padding-left: 5px;
    padding-right: 0px;
    transition: none;
}

#temperature {
    background: @crust;
    border-radius: 0px 0px 0px 0px;
    margin: 3px 0px 3px 0px;
    padding-left: 0px;
    padding-right: 5px;
}

#memory {
    /* color: white; */
    background: @crust;
    border-radius: 0px 15px 15px 0px;
    margin: 3px 0px 3px 0px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
}

#submap {
    border-radius: 15px;
    background: @blue;
    color: black;
}

#window {
    background: @mantle;
    border-radius: 15px;
    color: @subtext0;
    font-family: "Hack Nerd Font", "Noto Sans CJK SC";
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
}
window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background: rgba(50, 50, 50, 100);
    background: @mantle;
    border-radius: 15px;
    color: #eeeeee;
    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
#workspaces button {
    /* background: rgba(50, 50, 50, 80); */
    background: transparent;
    color: rgba(50, 50, 50, 100);
    color: black;
    margin: 1px;
}
#workspaces button:hover {
    background: @surface1;
    color: black;
}
#workspaces button.focused {
    background: @blue;
    color: @blue;
}

#clock {
    background: @mantle;
    border-radius: 15px;
    font-size: 17;
    margin: 2px;
    padding-left: 15px;
    padding-right: 15px;
    transition: none;
}

#network {
    border-radius: 15px;
    background-color: @crust;
    color: @text;
    margin: 3px 0px 3px 0px;
}
#network.disconnected {
    background-color: @surface0;
    color: red;
}
#network.disable,
#network.linked #network.ethernet #network.wifi,
#network:hover,
#backlight {
    background: @mantle;
    border-radius: 15px 0px 0px 15px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
}
#backlight:hover {
    background: rgba(50, 50, 50, 80);
    color: @text;
    margin: 3px 0px 3px 0px;
}

#pulseaudio {
    background: @mantle;
    border-radius: 0px 0px 0px 0px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#pulseaudio:hover,
#battery {
    background: @mantle;
    border-radius: 0px 15px 15px 0px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#battery:hover,
#battery.charging,
#battery.plugged {
    color: white;
}
#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
}

#upower.charging {
    background: @mantle;
    border-radius: 0px 15px 15px 0px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#upower.discharging {
    background: @mantle;
    border-radius: 0px 15px 15px 0px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#upower {
    background: @mantle;
    border-radius: 0px 15px 15px 0px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}

#bluetooth #bluetooth.off {
    background: transparent;
    border-radius: 15px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}

#bluetooth.on {
    background: @mantle;
    border-radius: 15px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#bluetooth.connected {
    background: @mantle;
    border-radius: 15px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#bluetooth.disabled {
    background: transparent;
    border-radius: 15px;
    color: @subtext1;
    margin: 3px 0px 3px 0px;
}
#bluetooth.discoverable
#bluetooth.discovering
#bluetooth.pairabler.unknown-status

/* @keyframes blink { */
/*     to { */
/*         background-color: #bf616a; */
/*         color: #b5e8e0; */
/*     } */
/* } */

#tray {
    /* background: @surface0; */
    /* color: rgba(60, 60, 60, 40); */
    /* background-color: rgba(60, 60, 60, 100); */
    background-color: black;
    border-radius: 15px;
    color: @overlay2;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transition: none;
}
/* #tray menu { */
/*     border-radius: 15px; */
/* } */
/* #tray > .passive { */
/*     border-radius: 15px; */
/* } */
/* #tray > .active { */
/*     border-radius: 15px; */
/* } */
/* #tray > .needs-attention { */
/*     border-radius: 15px; */
/* } */
