[Unit]
Description=Update geosite geoip timer

[Timer]
; OnCalendar=Sat *-*-* 03:10:00
OnCalendar=Sat
OnActiveSec=15
; RandomizedDelaySec=60
; Persistent=true
AccuracySec=168h

[Install]
WantedBy=timers.target
